body{
    background-image: url(gateway..webp);
      background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
    
}



.f{
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-left: 30%;
    width: 30%;
    backdrop-filter: blur(25px);

}